LLM_PROVIDER=groq
OLLAMA_ENDPOINT=http://localhost:11434/api/generate
OLLAMA_MODEL=qwen2.5:1.5b
GROQ_API_KEY=xxxx
GROQ_MODEL=llama3-8b-8192
SNS_TOPIC_ARN=arn:aws:sns:[region]:[account]:IncidentAlertMail
LIST_SNS_TOPIC_ARN={"ForecastingError":"/aws/lambda/Forecasting","RecommendationError":"/aws/lambda/Recommendation"}
AWS_REGION=[region]
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
PORT=8080
