FORECASTING_MODEL_BUCKET=[BUCKET]
FORECASTING_MODEL_KEY=models/yield_model.pkl
CROP_FEATURES_TABLE=agrosense-crop-features
YIELD_HISTORY_TABLE=agrosense-yield-history
FARM_ACTIVITIES_TABLE=agrosense-farm-activities
FORECAST_PERIODS=8