API_RECOMMEND=https://[id].execute-api.[region].amazonaws.com/[stage]/recommend
API_FORECAST=https://[id].execute-api.[region].amazonaws.com/[stage]/forecasts
API_GATEWAY_KEY=[api-key]
PORT=3000


git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin git@github.com:kaound3rage/cloud-computing-selection.git
git push -u origin main